* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(144, 166, 199);
  font-size: x-large;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 6px;
}

button {
  background-color: rgb(109, 126, 151);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(52, 60, 71);
}

.solution {
  padding: 12px;
  margin-top: 25px;
  color: white;
}

.name {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 30px;
  color: red;
  background-color: whitesmoke;
  height: 36px;
  width: 350px;
  border-style: double;
  box-shadow: hotpink 1px 2px 2px;
  animation: blinkingText 1.6s infinite;
}
@keyframes blinkingText {
  0% {
    color: hotpink;
  }
  49% {
    color: red;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: red;
  }
}
